.order_wrapper{
    background: #FFFFFF;
    position: absolute;
    width: 620px;
    height: 240px;
    left: 280px;
    top: 179px;
}

.order_wrapper:hover{
    background:  #F5F7F8;
}  

.order_wrapper:active{
    background: #DDE3E6;
}

.order_img{
    /* z-index: 1; */
    position: absolute;
    width: 160px;
    height: 160px;
    left: 320px;
    top: 219px;
    background: #FFFFFF;
}

.service_icon{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 500px;
    top: 233px;
    cursor: pointer;
}

.service_text{
    position: absolute;
    width: 43px;
    height: 21px;
    left: 540px;
    top: 224px;
    font-family: var(--main_font);
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    font-size: 14px;
    color: #243238;
}

.instalation{
    position: absolute;
    width: 79px;
    height: 24px;
    left: 500px;
    top: 273px;
    font-family: var(--main_font);
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 16px;
    color: #2196F3;
    cursor: pointer;
}

.instalation_service{
    position: absolute;
    width: 252px;
    height: 44px;
    left: 500px;
    top: 329px;
    font-family: var(--main_font);
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    font-size: 14px;
    color: #243238;
    }

.learn_more{
    color: #2196F3;
    font-family: var(--main_font);
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 16px;
    color: #2196F3;
    cursor: pointer;
} 

.price{
    position: absolute;
    width: 28px;
    height: 21px;
    left: 752px;
    top: 274px;
    font-family: var(--main_font);
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    text-align: right;
    color: #1AB744;
}

.delete_container{
    position: absolute;
    width: 60px;
    height: 120px;
    left: 840px;
    top: 219px;
    cursor: pointer;
}

.delete_container:hover{
    background: #D84315;

}

/* #red_color:hover ~ .delete_container{
	background: #D84315;
} */

.delete_container:active{
    background: #BF360C;
}

.delete_icon_right, .delete_icon_left{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 865px;
    top: 294px;
    cursor: pointer;
}





