:root {
    --main_font:'PT Sans', sans-serif;
    background: #E5E5E5;
}

.arrow_left_icon{
    position: absolute;
    width: 10px;
    height: 6px;
    left: 293px;
    top: 114px;
    cursor: pointer;
    /* transform: rotate(90deg); */
}
.text{
    position: absolute;
    width: 880px;
    height: 39px;
    left: 320px;
    top: 70px;  
    font-family: var(--main_font);
    font-style: normal;
    font-weight: bold;
    line-height: 39px;
    font-size: 30px;
    text-align: center; 
    color: #243238;  
    background: #E5E5E5;
}

.checkout_bg{
    z-index: 0;
    position: absolute;
    width: 300px;
    height: 259px;
    left: 940px;
    top: 179px;
    background: #FFFFFF;
}

.total{
    position: absolute;
    width: 29px;
    height: 16px;
    left: 1033px;
    top: 224px;
    font-family: var(--main_font);
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    text-align: right;
    color: #243238;
    z-index: 1;
}

.sum{
    position: absolute;
    z-index: 1;
    width: 74px;
    height: 26px;
    left: 1043px;
    top: 212px;
    font-family: var(--main_font);
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    text-align: right;
    color: #1AB744;
}

.benefits{
    position: absolute;
    width: 300px;
    height: 134px;
    left: 940px;
    top: 285px;
}

.button_text{
    position: absolute;
    z-index: 1;
    width: 160px;
    height: 21px;
    left: 1040px;
    top: 424px;
    font-family: var(--main_font);

    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
}    

.button_bg{
    position: absolute;
    z-index: 0;
    width: 300px;
    height: 60px;
    left: 940px;
    top: 419px;
    background: linear-gradient(180deg, #42A5F5 0%, #2196F3 100%);
    border-radius: 3px;
}

.stroke_icon{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1010px;
    top: 439px;
}

.adviser{
    position: absolute;
    width: 88px;
    height: 140px;
    left: 280px;
    top: 749px;  
}

.adviser_wrapper{
    position: absolute;
    width: 1520px;
    height: 100px;
    left: 0px;
    top: 789px; 
    background: linear-gradient(176.17deg, #FFFFFF -2.48%, #EEFBF2 102.48%);
}

.adviser_text{
    position: absolute;
    width: 635px;
    height: 60px;
    left: 408px;
    top: 788px;
    font-family: var(--main_font);
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #243238;
}

.start_chat{
    position: absolute;
    width: 157px;
    height: 40px;
    left: 1083px;
    top: 819px;
    cursor: pointer;
}


