:root {
    --main_font:'PT Sans', sans-serif;
    background: #E5E5E5;
}

.counter{
    top:300px;
    /* left:100px; */
    z-index: 9;
    position: absolute;
    width: 200px;
    height: 200px;
    background: blue;
    font-size: 30px;
    color: red;
}